# Lab 2020-09-22

[dokumentacija](https://docs.python.org/3.7/tutorial/index.html)

## Pakuotės

Python programų pradžioje visada būna programoje naudojamų pakuočių importavimas. Pakuočių pagalba galime pasinaudoti kitų žmonių darbu.
Pavyzdžiui importavę `math` pakuotę galėsim naudoti jos viduje apibrėžtą pi vertę `math.pi`

In [1]:
import math
from time import sleep
import random

## Python vietoj skaičiavimo mašinėlės

In [2]:
2+2

4

In [3]:
math.sqrt(4)

2.0

In [4]:
3**2

9

In [5]:
6/2

3.0

---
>> **UŽDUOTIS 1**
>>
>> Interpretatoriuje (The REPL - Read, Eval, Print and Loop) parašykite `math.` ir tada paspauskite `TAB` klavišą. Paspaudimas duos daug viduje math pakuotės apibrėžtų elementų. Patyrinėkite juos, pamėginkite parašyti paprastas formules naudodamiesi math funkcijomis (sin, cos, log).
>>
---

In [ ]:
math.

## IPython

Dokumentacijos pasiekimas

In [6]:
math.sin?

Signature: math.sin(x, /)
Docstring: Return the sine of x (measured in radians).
Type:      builtin_function_or_method

Pilna dokumentacija help funkcija

In [7]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.8/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /mnt/WD/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-x86_64-linux-gnu.so

Kai kurios OS komandinės eilutės komandas galima rašyti tiesiai į Jupyter lab ląsteles

Dabartinė aktyvi direktorija gaunama

In [6]:
pwd

'/home/aleks/Documents/biod2020/lab'

In [7]:
ls -a

./                   lab1.pdf                   labreport.nbconvert.pdf
../                  lab2.ipynb*                labreport.py*
environment.yml*     lab2.py*                   lect1_Intro.slides.html
.ipynb_checkpoints/  labreport.ipynb            programa.py*
lab1.ipynb*          labreport.nbconvert.ipynb

Norint atlikti ar priskirti kintamajam komandų išeigą reikia pridėti `!`

In [9]:
direktorija = !find . -type d
direktorija

['.', './.ipynb_checkpoints']

Taip pat galima pasiekti buvusių komandų rezultatus arba pačias komandas in ir out komandomis

In [10]:
In[-2]

"direktorija = get_ipython().getoutput('find . -type d')\ndirektorija"

In [13]:
Out[9]

['.', './.ipynb_checkpoints']

---
>> **UŽDUOTIS 2**
>>
>> - Patyrinėkite IPython funkcijas. `%lsmagic`, `%magic` and `alias`
>>    - Raskite dabartinę direktoriją
>>    - nueikite į ~/Documents/biod2020/lect direktoriją.
>>
>>
---

Komentarai. Rašant jupyter lab ipynb failus komentarus patogu rašyti markdown sintakse.
 Tada jie ryškiau matosi ir galima pateikti daug papildomos informacijos.

In [23]:
#python will ignore this
#pwd


## Operatoriai

suma +

skirtumas -

sandauga *

kėlimas laipsniu **

dalyba /

dalyba be liekanos //

liekana %

In [24]:
2 + 2

4

In [25]:
2 - 2

0

In [26]:
2 * 2

4

In [27]:
2 ** 3

8

In [28]:
2 / 3

0.6666666666666666

In [29]:
2 // 3

0

In [30]:
2 % 3

2

In [31]:
35 % 10

5

## Loginiai operatoriai

Šių operatorių pagalba formuojame saknius

mažiau <

daugiau >

lygu ==

nelygu !=

mažiau arba lygu <=

In [32]:
a = True
b = False

Ir

In [33]:
print(a and b)

False

Arba

In [34]:
print(a or b)

True

ne

In [35]:
print(not a)

False

## Duomenų tipai

Parašysim programą konvertuojančią temperatūrą iš Celsijaus į Farenheito skalę. y = (x × 9/5) + 32

Norint konvertuoti 100 galime tiesiog rašyti formulę

In [36]:
(100 * 9/5) + 32

212.0

Vėlesniam panaudojimui galime priskirti rezultatą kintamajam

In [37]:
Fahrenheit = (100 * 9/5) + 32
Fahrenheit

212.0

Sukurtas `float` tipo kintamasis --  jis tikslesnis už `int` kuris vaizduoja tik sveikus skaičius.

Kintamojo tipą galima rasti naudodami funkciją `type`.

In [14]:
type(Fahrenheit)

NameError: name 'Fahrenheit' is not defined

Galima pakeisti kintamojo tipą:

In [39]:
int(Fahrenheit)

212

Vertė kintamojo pasikeis galutinai tik priskyrus int funkcijos išeigą kintamajam

In [40]:
Fahrenheit = int(Fahrenheit)
Fahrenheit

212

Pagrindiniai tipai kintamųjų

Integer

In [41]:
10

10

 Float

In [42]:
3.14

3.14

Galima naudoti mokslinę notaciją

In [43]:
4e2

400.0

Boolean - True False arba 1 0

In [44]:
type(True)

bool

Complex

In [45]:
type(3 + 4j)

complex

String

In [46]:
message = 'Hello world'
message

'Hello world'

 Ir 4 tipai talpinantys daugiau nei vieną kintamąjį

Sąrašas (List)

In [47]:
[1, 2, 3]

[1, 2, 3]

Kortežas (Tuple)
Nekintantis objektas, sudaromas iš bet kokio tipo duomenų. Sukuriamas `tuple()` komandos pagalba arba `()`. Elementai atskiriami kableliu; vieno elemento tuple sukuriamas `(x,)`.

In [48]:
(1, 2)

(1, 2)

Aibė (Set)

In [49]:
{1, 2}

{1, 2}

Žodynas (Dictionary)

In [50]:
{'key': 'value'}

{'key': 'value'}

Vėliau juos apžvelgsime plačiau

IPython terminale galime pamatyti visus kintamuosius aplinkoje.

In [51]:
who

Fahrenheit	 a	 b	 dir	 math	 message	 random	 sleep

Visus kintamuosius ištrinti ir atlaisvinti vietą galime komandą `reset`

---
>> **UŽDUOTIS 3**
>>
>> - Patyrinėkite dokumentaciją ir raskite būdą ištrinti tik vieną specifinį kintamąjį . Ištrinkite Farenheito kintamąjį bet palikite kitus atmintyje.
>>
---

## Funkcijos
Norėdami naudoti tą pačią funkciją daug kartų sukuriam funkciją kuria pasieksime reikalingą kodą.

In [52]:
def celsius_to_farenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return round(fahrenheit)

Jei norėtumėm suskaičiuoti daug verčių ir jas išsaugoti viename kintamajame galime panaudoti sąrašus. Juos kuriame laužtiniais skliaustais [] ir jie gali turėti daug skirtingų tipų.

In [53]:
ListA = [celsius_to_farenheit(100), celsius_to_farenheit(
    110), celsius_to_farenheit(200)]
ListA

[212, 230, 392]

Sąrašo elementų skaičius

In [54]:
len(ListA)

3

Sąrašai vieni iš naudingiausių konteinerių. Patyrinėkite skirtingus metodus skirtus dirbti su sąrašais.
Paspauskite TAB po taško

In [55]:
ListA.

SyntaxError: invalid syntax (<ipython-input-55-8671f808ce7d>, line 1)

### Metodai:

Append - prideda elementus prie sąrašo

In [56]:
ListA.append(2)
ListA

[212, 230, 392, 2]

Surūšiuoja sort

In [57]:
ListA.sort()
ListA

[2, 212, 230, 392]

Extend -- prideda elementus iš kitų konteinerių

In [58]:
ListA.extend([1, 2, 3])
ListA

[2, 212, 230, 392, 1, 2, 3]

In [59]:
ListA.append([10, 11, 12])
ListA

[2, 212, 230, 392, 1, 2, 3, [10, 11, 12]]

Pridėti skaičių 2 specifinėje vietoje galime su insert

In [60]:
ListA.insert(1, 2)
ListA

[2, 2, 212, 230, 392, 1, 2, 3, [10, 11, 12]]

Verčių apvertimas

In [61]:
ListA.reverse()
ListA

[[10, 11, 12], 3, 2, 1, 392, 230, 212, 2, 2]

Pop išima elementą iš sąrašo specifinėj vietoje

In [62]:
pp = ListA.pop(2)
ListA

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2]

In [63]:
pp

2

Copy - duoda kopiją sąrašo

In [64]:
ListB = ListA.copy()

In [65]:
ListA.append(2)
ListA

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2, 2]

In [66]:
ListB

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2]

 Jei mes kurtumėme kopiją tiesiog priskirdami

In [67]:
ListC = ListA
ListC

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2, 2]

In [68]:
ListA.append(88)
ListA

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2, 2, 88]

In [69]:
ListC

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2, 2, 88]

 matome kad sukuriama netikra kopija, o tik nuorodą į ta patį elementą todėl pakeitus ListC pakinta ir ListA

Index -- gražina elemento indeksą

In [70]:
ListA.index(3)

1

Remove -- pašalina elementą (tik patį pirmą eilėj)

In [71]:
ListA.remove(88)
ListA

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2, 2]

clear - ištrina visus elementus

In [72]:
ListA.clear()
ListA

[]

Elementus pasiekiam indeksuodami

In [73]:
ListB[0]

[10, 11, 12]

In [74]:
ListB[3]

392

In [75]:
ListB[-1]

2

Arba kirpdami

In [76]:
ListB[0:2]

[[10, 11, 12], 3]

Su sąrašais galime atlikti aritmetines operacijas

In [77]:
ListB * 2

[[10, 11, 12],
 3,
 1,
 392,
 230,
 212,
 2,
 2,
 [10, 11, 12],
 3,
 1,
 392,
 230,
 212,
 2,
 2]

In [78]:
ListB + ListB

[[10, 11, 12],
 3,
 1,
 392,
 230,
 212,
 2,
 2,
 [10, 11, 12],
 3,
 1,
 392,
 230,
 212,
 2,
 2]

 galima kurti sąrašus sąrašuose (nested lists)

In [80]:
ListC = [ListB, ListB]
ListC

[[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2],
 [[10, 11, 12], 3, 1, 392, 230, 212, 2, 2]]

Pasiekti pirmą sąrašą:

In [81]:
ListC[0]

[[10, 11, 12], 3, 1, 392, 230, 212, 2, 2]

pasiekti pirmą elementą pirmame sąraše

In [82]:
ListC[0][0]

[10, 11, 12]

In [83]:
TestList = [1, [79, 77, 78], 0, [2, [45, 65], 55], 4]

---
>> **UŽDUOTIS 4**
>>
>> - Gauti skaičius 78, 55, 0, 45 iš sąrašo `TestList`
>>
---

Pakeičiam funkciją kad ji gražintu dar ir temperatūrą kelvino skalėj

In [84]:
def celsius_to_farenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    kelvin = celsius - 273.15
    return round(fahrenheit), round(kelvin)

In [85]:
output = celsius_to_farenheit(42)
output

(108, -231)

 Funkcijos gražina kortežą  (tuple) `output`
 Kortežo pakeisti negalima

In [86]:
output[1] = 3

TypeError: 'tuple' object does not support item assignment

Kortežus galima išskleisti

In [87]:
fah, kel = output
kel

-231

In [88]:
fah

108

In [89]:
fah, kel = celsius_to_farenheit(42)

 Kortežai veikia greičiau už sąrašus ir jų negalima turinio pakeisti.

Žodynai formuojami iš rakto ir vertės poros `{key: value}`. Raktai turi būti unikalūs ir nekeičiami (tuple, integer, string, float, boolean).
Vertes žodyne pasiekiam rakto pagalba. Vertės apribojimų neturi.

In [90]:
temperature = {}
cel = 34
fah, kel = celsius_to_farenheit(cel)
temperature[cel] = fah, kel

In [91]:
cel = 4
fah, kel = celsius_to_farenheit(cel)
temperature[cel] = fah, kel

In [92]:
cel = -9
fah, kel = celsius_to_farenheit(cel)
temperature[cel] = fah, kel

In [93]:
temperature

{34: (93, -239), 4: (39, -269), -9: (16, -282)}

In [94]:
temperature[4]

(39, -269)

Gauti visus elementus iš žodyno

In [95]:
temperature.items()

dict_items([(34, (93, -239)), (4, (39, -269)), (-9, (16, -282))])

Raktus gauname

In [96]:
temperature.keys()

dict_keys([34, 4, -9])

 Rakto pagalba gauname vertes

In [97]:
temperature.get(4)

(39, -269)

Žodynus galime kurti daugeliu būdu

In [98]:
dictA = {'key1': 'value1', 'key2': 'value2'}
dictA.keys()

dict_keys(['key1', 'key2'])

In [99]:
dictA['key1']

'value1'

In [100]:
dictA = dict(key1='value1', key2='value2')
dictA

{'key1': 'value1', 'key2': 'value2'}

In [101]:
dictA = dict([('key1', 'value1'), ('key2', 'value2')])
dictA

{'key1': 'value1', 'key2': 'value2'}

Aibės yra kolekcijos unikalių verčių

Aibių pagalba atliekame daug loginių operacijų
pvz jei turime sąrašą s

In [102]:
s = [1, 1, 1, 2, 3, 5, 5]

paversdami jį aibe gauname tik unikalias vertes

In [103]:
ss = set(s)
ss

{1, 2, 3, 5}

Aibių metodai

In [104]:
rr = set([2, 4, 6, 5])

In [105]:
rr.difference(ss)  # skirtumas elementų

{4, 6}

In [106]:
rr.intersection(ss)  # bendri elementai

{2, 5}

In [107]:
rr.issubset(ss)  # tikrina ar viena aibė yra kitos aibės dalis

False

In [108]:
rr.union(ss)  # apjungia aibes

{1, 2, 3, 4, 5, 6}

In [109]:
rr.add('k')  # prideda elementus
rr

{2, 4, 5, 6, 'k'}

In [110]:
rr.clear()  # pašalina elementus
rr

set()

plačiau

In [111]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

---
>> **UŽDUOTIS 5**
>>
>> - patyrinėkite metodus kolekcijų (set, tuple, dict)
>>
---

## Teksto formatavimas

Galiausiai norėdami pavaizduoti gautus rezultatus (ekrane arba suformatuoti ir įrašyti į failą naudojame teksto kintamuosius (string)

In [112]:
stringA = "This is string A"
stringA

'This is string A'

In [113]:
stringB = 'This is string B'
stringB

'This is string B'

Teksto kintamasis  yra nepakeičiamas ir kad ir kokius veiksmus su juo atliekame naujas objektas yra sukuriamas atmintyje. Kaip ir kolekcijos teksto kintamieji turi daug metodų.

Norint pakeisti didžiąsias raides į mažąsias.

In [114]:
stringA.lower()

'this is string a'

Į didžiąsias

In [115]:
stringA.upper()

'THIS IS STRING A'

+ ir *  sujungia kintamuosius

In [116]:
stringA + stringB

'This is string AThis is string B'

In [117]:
stringA * 2

'This is string AThis is string A'

Geriau naudoti join metodą kurio pagalba lengviau kontroliuoti išeigą

In [118]:
' '.join([stringA, stringB])

'This is string A This is string B'

split padaliną į dalis

In [119]:
stringA.split()

['This', 'is', 'string', 'A']

---
>> **UŽDUOTIS 6**
>>
>> - Peržvelgti teksto kintamojo [metodus](https://docs.python.org/3.7/library/stdtypes.html#string-methods)
>>
---

## Teksto formatavimas

`print` funkcija formatuoja ir atvaizduoja tekstą

In [120]:
print(stringA)

This is string A

In [121]:
print(stringA, stringB)

This is string A This is string B

Seni teksto formatavimo metodai

In [122]:
"Celsius, %s. Fahrenheit %s." % (cel, fah)  # % operator

'Celsius, -9. Fahrenheit 16.'

In [123]:
"Celsius, {0}. Fahrenheit{1}.".format(cel, fah)  # str.format method

'Celsius, -9. Fahrenheit16.'

print funkcijos pagalba apjungiame

In [124]:
print('Temperature in Celsius', cel, 'Fahrenheit ',
      fah, sep=' ', end='\n', flush=False)

Temperature in Celsius -9 Fahrenheit  16

Nuo python 3.6 versijos  naudojami fString ir rString teksto kintamieji

 fStrings pakeičia laužtiniuose skliaustuose esančius elementus į jų reikšmes python kode

In [125]:
f'Temperature in Celsius {cel}'

'Temperature in Celsius -9'

rString ignoruoja visus specialius ženklus

In [126]:
r'Temperature in Celsius {cel}'

'Temperature in Celsius {cel}'

 Variantai vaizdavimo

|special char|displayed|
|-----------|----------|
|\t|tab|
|\n|new line|
|\r|Enter, return|
|\b|back|
|\\|backslash \|
|\'|quotation mark|
|\"|double quotation mark|

In [127]:
print(f'Temperature\nCelsius {cel}\t Fahrenheit {fah}')

Temperature
Celsius -9	 Fahrenheit 16

In [128]:
def progress(percent=0, width=30):
    left = width * percent // 100
    right = width - left
    print('\r[', '#' * left, ' ' * right, ']',
          f' {percent:.0f}%',
          sep='', end='', flush=True)

In [129]:
for i in range(101):
    progress(i)
    sleep(0.1)

[##############################] 100%

---
>> **UŽDUOTIS 7**
>>
>> - pakeiskite funkciją progress kad gauti apačioje pavaizduotą išeigą
>>
---

[  # ] 5%
[  # ] 6%
[  # ] 7%
[  # ] 8%
[  # ] 9%
[  # ] 10%
[  # ] 11%
[  # ] 12%

## Eigos kontrolė

## IF

Vienas iš svarbiausių elementų. Jei (if) kažkas yra tiesa tai daryk X kita vertus jei kažkas kitkas tiesa (elf) daryk Y galiausiai (else) daryk Z
else ir elif nėra būtini

In [130]:
if 5 > 6:
    print(1)

Pakeiskite x į kažką kitą kad matyt kaip veikia if

In [131]:
x = 0
if x < 0:
    print("neigiamas skaičius")
elif x == 0:
    print("nulis")
else:
    print("teigiamas skaičius")

nulis

Papildom funkciją kitais metodais naudodami if

In [132]:
def convert_to_SI(value, type="temp"):
    if type == "temp":
        celsius = (value - 32) * 5 / 9
        kelvin = celsius + 273.15
        return round(celsius), round(kelvin)
    elif type == "dist":
        meters = value * 0.0245
        return meters
    else:
        print("Type is not defined")

In [133]:
convert_to_SI(40)

(4, 278)

In [134]:
convert_to_SI(40, "dist")

0.98

In [135]:
convert_to_SI(40, "temp")

(4, 278)

---
>> **UŽDUOTIS 8**
>>
>> Papildykite funkciją `convert_to_SI2` kad ji atskirtų ir gražintų arba Celsius arba Kelvinus
>>
---

In [5]:
def convert_to_SI2(value, type="celsius"):
    pass

In [6]:
convert_to_SI2(10, "celsius")

In [7]:
convert_to_SI2(10, "dist")

In [8]:
convert_to_SI2(10, "kelvin")

# FOR

For pagalba einam per elementus konteineriuose

In [139]:
for x in [1, 2, 3]:
    print(x)

1
2
3

Kuriam sąrašus

In [140]:
values_in_fahrenheit = [0, 44, 56, 788]
values_in_celsius = []
values_in_kelvin = []
for value in values_in_fahrenheit:
    cel, kel = convert_to_SI(value)
    values_in_celsius.append(cel)
    values_in_kelvin.append(kel)

In [141]:
values_in_kelvin

[255, 280, 286, 693]

In [142]:
values_in_celsius

[-18, 7, 13, 420]

## RANGE

Automatiškai generuojam sąrašą skaičių

range([start], stop[, step])

In [143]:
for i in range(4):
    print(i)

0
1
2
3

In [144]:
a_range = range(-10, -100, -30)
a_range

range(-10, -100, -30)

 konvertuojam į sąrašą

In [145]:
a_list = list(range(4))
a_list

[0, 1, 2, 3]

i yra priskiriamas kiekvienoje iteracijoje ir viduje jo pakeitimas yra tik laikinas

In [146]:
for i in range(4):
    print(i)
    i = 10
    print(i)

0
10
1
10
2
10
3
10

### For ir žodynai

In [147]:
data = {"-18": "255", "7": "280"}
for k, v in data.items():
    print(f"Celsius: {k}, Kelvin {v}")

Celsius: -18, Kelvin 255
Celsius: 7, Kelvin 280

### enumerate

Norint gauti indeksą elemento naudojam enumerate

enumerate(iterable, start=0)

In [148]:
a = ["a", "b", "c"]
for i, v in enumerate(a):
    print(i, v)

0 a
1 b
2 c

In [149]:
for i in range(len(a)):
    print(i, a[i])

0 a
1 b
2 c

In [150]:
str = "Python"
for idx, ch in enumerate(str):
    print(f"index is {idx} and character is {ch}")

index is 0 and character is P
index is 1 and character is y
index is 2 and character is t
index is 3 and character is h
index is 4 and character is o
index is 5 and character is n

 ### zip sujungia daugiau sąrašų

In [151]:
for q, a in zip(values_in_fahrenheit, values_in_celsius):
    print(f"Temperature in celsius {a} equals {q} in fahrenheit")

Temperature in celsius -18 equals 0 in fahrenheit
Temperature in celsius 7 equals 44 in fahrenheit
Temperature in celsius 13 equals 56 in fahrenheit
Temperature in celsius 420 equals 788 in fahrenheit

 Jei konteineriai ne vienodo dydžio

In [152]:
for q, a in zip(values_in_fahrenheit, values_in_celsius[1:2]):
    print(f"Temperature in celsius {a} equals {q} in fahrenheit")

Temperature in celsius 7 equals 0 in fahrenheit

 ## while

While kuria ciklus begalinio dydžio arba kol pasiekiama tam tikra sąlyga

In [153]:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8

In [154]:
x = 0
while x < 0.9:
    x = random.random()
    print(x)

0.6231325381049025
0.6601177361227589
0.5652225747576374
0.3780686799557881
0.7697770578512111
0.7173910672323246
0.8825680310488262
0.43104641118378884
0.13018361514435306
0.8941154714416262
0.7179854837465983
0.9290783256793911

 ## break ir continue

In [155]:
for n in range(2, 10):
    print(f"n {n}", flush=True)
    for x in range(2, n):
        print(f"x {x}", flush=True)
        if n % x == 0:
            print(n, "equals", x, "*", n // x)
            break
    else:  # for loop condition else is evaluated if no break was encountered
        print(n, "is a prime number")

n 2
2 is a prime number
n 3
x 2
3 is a prime number
n 4
x 2
4 equals 2 * 2
n 5
x 2
x 3
x 4
5 is a prime number
n 6
x 2
6 equals 2 * 3
n 7
x 2
x 3
x 4
x 5
x 6
7 is a prime number
n 8
x 2
8 equals 2 * 4
n 9
x 2
x 3
9 equals 3 * 3

 ## pass

nedaro nieko bet leidžia sukurti tuščias sąlygas

In [156]:
for i in range(4):
    pass

### Atsakymai
2. pwd, cd
3. %reset_selective dabartine_dir
4. TestList[1][2]
 TestList[3][2]
 TestList[2]
 TestList[3][1][0]
5. \r pakeisti į \n
8.

In [157]:
def convert_to_SI2(value, type="celsius"):
    if type == "celsius":
        celsius = (value - 32) * 5 / 9
        return round(celsius)
    if type == "kelvin":
        celsius = (value - 32) * 5 / 9
        kelvin = celsius + 273.15
        return round(kelvin)
    elif type == "dist":
        meters = value * 0.0245
        return meters
    else:
        print("Type is not defined")